/* Font style */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i|Roboto+Slab:700&display=swap')
$first-font : Roboto Slab, serif
$second-font : Montserra, sans-serif
$regular: 400
$regular-italic: 400i
$bold: 600
$bold-italic: 600i
$black: 700

$color2: #0971B3
$color1: #0460D9
$back1: #EBF2FE
$text-color : #000000
$shadow: rgba(0, 0, 0, 0.4)
$shadow2: rgba(0, 0, 0, 0.15)

$open-transition: ease-in 0.5s
$link-transition: 0.2s

=boxshadow-basic($color-shadow)
  -webkit-box-shadow: 0 0 10px $color-shadow
  -moz-box-shadow: 0 0 10px $color-shadow
  box-shadow: 0 0 10px $color-shadow

=boxshadow-bottom($color-shadow)
  -webkit-box-shadow: 0 5px 15px $color-shadow
  -moz-box-shadow: 0 5px 15px $color-shadow
  box-shadow: 0 5px 15px $color-shadow

=linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)
  background: -webkit-linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)

=under-link($color, $height, $width, $opacity)
  content: ""
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  bottom: 0
  height: $height
  width: $width
  background-color: $color
  opacity: $opacity
  transition: $link-transition

.shadow-header
  +boxshadow-basic($shadow2)
.shadow-bottom
  +boxshadow-bottom($shadow)
.shadow-basic
  +boxshadow-basic($shadow)

a
  text-decoration: none
  transition: $link-transition
  color: $text-color
a:hover
  text-decoration: none
  transition: $link-transition

header
  position: fixed
  z-index: 999
  background-color: $back1
  padding: 1rem 0
  width: 100%
  top: 0
  .font-style
    font-family: $second-font
    font-weight: $bold

  .col-left
    text-align: left
    #link
      margin-right: 1rem
      .link-btn
        margin-right: 1rem
        position: relative
      .link-btn::before
        +under-link($color1, 3px, 50%, 0)
      .link-btn:hover::before
        opacity: 1
      .link-btn.active::before
        +under-link($color1, 3px, 50%, 1)

  .col-right
    justify-content: end
    display: grid
    .btn-contact_a
      border: 1.5px solid $color1
      border-radius: 5px
      padding: .5rem
      transition: $link-transition
    .btn-contact_a:hover
      background-color: $color1
      color: #FFFFFF
      transition: $link-transition
      +boxshadow-basic($shadow)
    .btn-contact_a:active
      +boxshadow-basic($shadow2)


.body
  font-family: $second-font
  height: 100%
  .head-title
    h2
      text-align: center
  .box-container
    border-radius: 10px
    background-color: #FFFFFF
    .section-logo
      margin: 2rem auto
      width: 250px
      //margin-bottom: 1.5rem
      .logo
        width: 100%
    .section-title
      text-align: center

  #introduction
    //min-height: 100vh
    margin: 5rem auto 3rem auto
    position: relative

    .description-title
      margin-bottom: 2.5rem
      h2
        font-family: $first-font
        font-size: 3rem
        text-align: center
      h3
        font-size: 1.5rem
        text-align: center

    #container-img
      .circle-img
        display: grid
        justify-content: center
        img
          width: 250px
          border: 6px solid $color1
          border-radius: 50%
          background-color: $color1

    .description
      margin-top: 1.5rem
      blockquote
        font-style: italic
        background-color: $back1
        border-radius: 8px
        padding: 1rem 15rem
        p
          margin-top: 1rem
          margin-bottom: 0

  #educations
    .container-timeline
      border-left: .2rem solid $color1
      h4
        margin-left: 7px
        margin-bottom: 1.5rem
      .timeline
        position: relative
        .timeline-right
          margin: 0 1.5rem 2rem 1.5rem
          border-left: .2rem solid $color1
          +boxshadow-basic($shadow2)
          border-radius: 10px
          padding: 1rem
          transition: .3s
        .timeline-right:hover
          transition: .3s
          +boxshadow-bottom($shadow)
        .modal-class
          display: none
          margin: 1rem 0 1rem 1rem
      .btn-position
        display: grid
        justify-content: center
        .btn-more
          border: 1.5px solid $color1
          border-radius: 5px
          padding: 1rem
          transition: $link-transition
        .btn-more:hover
          background-color: $color1
          color: #FFFFFF
          transition: $link-transition
        .btn-less
          display: none
          border: 1.5px solid $color1
          border-radius: 5px
          padding: 1rem
          transition: $link-transition
        .btn-less:hover
          background-color: $color1
          color: #FFFFFF
          transition: $link-transition