/* Font style */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i|Roboto+Slab:700&display=swap')
$first-font : Roboto Slab, serif
$second-font : Montserra, sans-serif
$regular: 400
$regular-italic: 400i
$bold: 600
$bold-italic: 600i
$black: 700

/* Color */
$color2: #0971B3
$color1: #0460D9
$back1: #EBF2FE
$white: #FFFFFF
$text-color : #000000
$shadow: rgba(0, 0, 0, 0.4)
$shadow2: rgba(0, 0, 0, 0.15)
$shadow3: rgba(0, 0, 0, 0.05)

/* Animation */
@keyframes anim-contact
  from
    margin-bottom: -25px
    opacity: 0
  to
    margin-bottom: 0
    opacity: 1

@keyframes anim-header
  from
    margin-top: -10%
  to
    margin-top: 0

@keyframes anim-introduction
  from
    opacity: 0
  to
    opacity: 1

@keyframes anim-link-head
  from
    width: 0
    opacity: 0
  to
    width: 100%
    opacity: 1

$open-transition: ease-in 0.5s
$link-transition: 0.2s

/* Mixins */
=boxshadow-basic($color-shadow)
  -webkit-box-shadow: 0 0 10px $color-shadow
  -moz-box-shadow: 0 0 10px $color-shadow
  box-shadow: 0 0 10px $color-shadow
  transition: $link-transition

=boxshadow-bottom($color-shadow)
  -webkit-box-shadow: 0 5px 15px $color-shadow
  -moz-box-shadow: 0 5px 15px $color-shadow
  box-shadow: 0 5px 15px $color-shadow

=boxshadow-top($color-shadow)
  -webkit-box-shadow: 0 -12px 15px $color-shadow
  -moz-box-shadow: 0 -12px 15px $color-shadow
  box-shadow: 0 -12px 15px $color-shadow

=linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)
  background: -webkit-linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)
  transition: $link-transition

=under-link($color, $height, $width, $opacity)
  content: ""
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  bottom: 0
  height: $height
  width: $width
  background-color: $color
  opacity: $opacity
  transition: $link-transition

=scrollbars($foreground-color, $background-color: mix($foreground-color, white,  50%))

  &::-webkit-scrollbar
    width:  10px
    height: 20px

  &::-webkit-scrollbar-thumb
    background: $foreground-color

  &::-webkit-scrollbar-track
    background: $background-color

  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color

.shadow-header
  +boxshadow-basic($shadow2)
.shadow-bottom
  +boxshadow-bottom($shadow)
.shadow-basic
  +boxshadow-basic($shadow)

a
  text-decoration: none
  transition: $link-transition
  color: $text-color
a:hover
  text-decoration: none
  transition: $link-transition

html
  scroll-behavior: smooth
  .new-row
    display: flex
    flex-wrap: wrap

.no-scroll
  overflow: hidden

body
  //+scrollbars($color1, $back1)
  background-color: $color1

  header
    position: fixed
    z-index: 999
    padding: 1rem 0
    width: 100%
    top: 0
    background-color: $color1
    animation-name: anim-header
    animation-duration: 1s
    .font-style
      font-family: $second-font
      font-weight: $bold

    .col-left
      padding-left: 3rem
      .link-btn a
        color: $back1
        position: relative
        //margin: auto 0
        margin: 0 1rem .15rem 1rem
        border-radius: 10px
      .link-btn a:hover:before
        +under-link($back1, 2px, inherit, 1)
        animation-name: anim-link-head
        animation-duration: .5s
        .fas
          font-size: 25px


    .col-right
      margin: auto 0
      text-align: right
      padding-right: 3rem
      .btn-contact_a
        color: $back1
        border: 1.5px solid $back1
        border-radius: 5px
        padding: .5rem
        transition: $link-transition
      .btn-contact_a:hover
        background-color: $color1
        color: #FFFFFF
        transition: $link-transition
        +boxshadow-basic($shadow)
      .btn-contact_a:active
        +boxshadow-basic($shadow2)


  .body
    font-family: $second-font
    height: 100%

    #introduction
      min-height: 100vh
      position: relative
      color: #FFFFFF
      animation-name: anim-introduction
      animation-duration: 1.5s
      .container-intro
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      .description-title
        margin-bottom: 2.5rem
        h2
          font-family: $first-font
          font-size: 3rem
          text-align: center
          +responsive(sm)
            font-size: 6rem !important
        h3
          font-size: 1.5rem
          text-align: center
          +responsive(sm)
            font-size: 2.8rem !important

      #container-img
        .circle-img
          display: grid
          justify-content: center
          img
            width: 250px
            border: 6px solid $back1
            border-radius: 50%
            background-color: $back1
            +responsive(sm)
              width: 650px

      .description
        margin-top: 1.5rem
        font-size: 1rem
        text-align: justify
        +responsive(sm)
          font-size: 2rem !important
        blockquote
          font-style: italic
          background-color: $back1
          border-radius: 8px
          padding: 1rem 15rem
          p
            margin-top: 1rem
            margin-bottom: 0

      .container-scroll
        position: absolute
        bottom: 5%
        left: 50%
        transform: translate(-50%, -50%)
        a
          color: $white
          h6
            margin: auto 1rem


    #about
      padding: 6rem
      background-color: #FFFFFF
      .container-timeline
        border-left: .2rem solid $color1
        animation-name: anim-introduction
        animation-duration: .5s
        h4
          margin: auto .5rem
        .fas
          margin: auto 1rem
          font-size: 25px
        .timeline
          margin-top: 1.5rem
          .timeline-right
            position: relative
            margin: 0 1.5rem 2rem 1.5rem
            border-left: .2rem solid $color1
            +boxshadow-basic($shadow2)
            border-radius: 10px
            padding: 1rem
            transition: .3s
          .timeline-right:hover
            transition: .3s
            +boxshadow-bottom($shadow)
          .timeline-right:before
            content: ""
            z-index: 1
            position: absolute
            left: -45px
            top: 1.6rem
            width: 45px
            height: 2px
            background-color: $color1
          .timeline-right:after
            content: ""
            z-index: 2
            position: absolute
            left: -49.3px
            top: 22px
            width: 12px
            height: 12px
            border: 1px solid $color1
            border-radius: 50%
            background-color: $back1
          #modal-more
            display: none
          .modal-class
            margin: 1rem 0 0 1rem
            a
              position: relative
              padding-bottom: .2rem
            a:hover
              color: #000000
            a:hover i
              color: $color1
            .fas
              font-size: 10px
              margin: 0
          .title
            margin: 0 1rem
            h5
              font-weight: $bold
              span
                font-weight: $regular
                font-size: 1rem
            h6
              font-style: italic
        .btn-position
          margin: auto
          .btn-more
            border: 1.5px solid $color1
            border-radius: 5px
            padding: .5rem 1rem
            cursor: pointer
            transition: $link-transition
          .btn-more:hover
            background-color: $color1
            color: #FFFFFF
            transition: $link-transition
          .btn-less
            display: none
            border: 1.5px solid $color1
            border-radius: 5px
            padding: .5rem 1rem
            cursor: pointer
            transition: $link-transition
          .btn-less:hover
            background-color: $color1
            color: #FFFFFF
            transition: $link-transition


    #skills
      padding-top: 4rem
      padding-bottom: 6rem
      animation-name: anim-introduction
      animation-duration: .5s
      img
        width: 70px
        +responsive(sm)
          width: 40px !important
          height: 40px !important
      .skills-head
        h3
          text-align: center
          color: $white
          margin-bottom: 2.5rem
          font-weight: $bold
      .skills-left, .skills-right
        display: flex
        justify-content: space-around
      .skills-left
        border-right: 2px solid $back1
        +responsive(sm)
          margin-bottom: 5rem
          border-right: none !important

    #portfolio
      background-color: $white
      padding: 5rem 0
      animation-name: anim-introduction
      animation-duration: .5s
      +responsive(md)
        .margin-md
          margin-bottom: 3rem
      .box-project
        .box1
          .img-head
            max-width: 370px
            margin: 0 auto
            border-radius: 7px
            +boxshadow-basic($shadow)
            +responsive(xs)
              max-width: 800px
            +responsive(xl)
              max-width: 540px
            img
              width: 100%
              border-radius: 7px
        .box2
          position: relative
          +boxshadow-basic($shadow2)
          min-height: 250px
          max-width: 350px
          padding: 1rem 2rem
          margin: 0 auto
          border-bottom-left-radius: 10px
          border-bottom-right-radius: 10px
          +responsive(xs)
            max-width: 720px
          +responsive(md)
            min-height: 275px
          +responsive(lg)
            min-height: 300px
          +responsive(xl)
            min-width: 500px
            min-height: 245px
          .title
            text-align: center
            +responsive(xs)
              h4
                font-size: 2.5rem !important
          p
            +responsive(xs)
              font-size: 1.3rem
          .text-middle-1
            +responsive(md)
              margin-top: 1.3rem
            +responsive(xl)
              margin-top: 1.4rem

          .text-middle-2
            +responsive(md)
              margin-top: 1.3rem !important
            +responsive(lg)
              margin-top: 2rem
            +responsive(xl)
              margin-top: 1.4rem

          .text-middle-3
            +responsive(lg)
              margin-top: 2.2rem
            +responsive(xl)
              margin-top: 1.4rem

          .text-middle-4
            +responsive(lg)
              margin-top: 2rem
            +responsive(xl)
              margin-top: 1.4rem
          a
            position: absolute
            bottom: 15px
            left: 12%
            margin: 0 auto
            width: 75%
            background-color: $back1
            border-radius: 10px
            text-align: center
            +responsive(xs)
              font-size: 1.3rem
          a:hover
            +boxshadow-bottom($shadow2)
          a:focus
            +boxshadow-basic($shadow2)
          .btn-mobile
            display: none
            +responsive(xs)
              display: initial
          .btn-desktop
            display: initial
            +responsive(xs)
              display: none

    #imgModal
      background: rgba(0, 0, 0, 0.4)
      .modal-content
        animation-name: anim-introduction
        animation-duration: .5s
        margin: 4rem auto auto auto
        width: 1300px
        border: none
        background: none
        +responsive(md)
          margin: 3rem auto auto auto !important
          width: 900px !important
        +responsive(lg)
          margin: 2rem auto auto auto
          width: 1100px
        img
          position: relative
          border-radius: 5px
          width: 100%
        .btn-close
          position: absolute
          right: 3%
          top: 0
          padding: .2rem .5rem
          margin-top: 1rem
          border-radius: 4px
          text-align: center
          cursor: pointer
          color: $color1
          font-size: 15px
          opacity: 1
          text-shadow: none
          transition: .4s
          &:hover
            background: #FFFFFF
            transition: .4s
        .previous-slide
          position: absolute
          left: 0
          top: 50%
        .next-slide
          position: absolute
          right: 0
          top: 50%
        .btn-slide
          padding: 10rem 1.5rem
          border-radius: .5px
          color: $color1
          transition: .4s
          &:hover
            cursor: pointer


    #contact
      position: relative
      min-height: 100vh
      animation-name: anim-introduction
      animation-duration: .5s
      +boxshadow-top($shadow2)
      padding: 2rem
      .contact-head
        padding: 3rem
        h3
          text-align: center
          color: $white
          font-weight: $bold
      .contact-info
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        transform: translate(-50%, -50%)
        .col-contact
          padding-top: 5rem
          padding-bottom: 5rem
        .col-contact a
          position: relative
          display: flex
          color: $white
          padding: 1rem 0
          width: max-content
          margin: auto
          .fas, .fab
            font-size: 30px
            margin-right: 1rem
          h5
            margin: auto 0
        .col-contact a:hover:before
          +under-link($white, 3px, 100%, 1)
          animation-duration: .5s
          animation-name: anim-contact