/* Font style */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i|Roboto+Slab:700&display=swap')
$first-font : Roboto Slab, serif
$second-font : Montserra, sans-serif
$regular: 400
$regular-italic: 400i
$bold: 600
$bold-italic: 600i
$black: 700

/* Color */
$color2: #0971B3
$color1: #0460D9
$back1: #EBF2FE
$white: #FFFFFF
$text-color : #000000
$shadow: rgba(0, 0, 0, 0.4)
$shadow2: rgba(0, 0, 0, 0.15)

/* Screen size */
$break-phone: 320px
$break-small: 1024px
$break-large: 1280px


$open-transition: ease-in 0.5s
$link-transition: 0.2s

=boxshadow-basic($color-shadow)
  -webkit-box-shadow: 0 0 10px $color-shadow
  -moz-box-shadow: 0 0 10px $color-shadow
  box-shadow: 0 0 10px $color-shadow

=boxshadow-bottom($color-shadow)
  -webkit-box-shadow: 0 5px 15px $color-shadow
  -moz-box-shadow: 0 5px 15px $color-shadow
  box-shadow: 0 5px 15px $color-shadow

=linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)
  background: -webkit-linear-gradient($direction, $first, $second, $third, $forth)
  background: linear-gradient($direction, $first, $second, $third, $forth)

=under-link($color, $height, $width, $opacity)
  content: ""
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  bottom: 0
  height: $height
  width: $width
  background-color: $color
  opacity: $opacity
  transition: $link-transition

=scrollbars($foreground-color, $background-color: mix($foreground-color, white,  50%))

  &::-webkit-scrollbar
    width:  10px
    height: 20px

  &::-webkit-scrollbar-thumb
    background: $foreground-color

  &::-webkit-scrollbar-track
    background: $background-color

  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color



.shadow-header
  +boxshadow-basic($shadow2)
.shadow-bottom
  +boxshadow-bottom($shadow)
.shadow-basic
  +boxshadow-basic($shadow)

a
  text-decoration: none
  transition: $link-transition
  color: $text-color
a:hover
  text-decoration: none
  transition: $link-transition
body
  //+scrollbars($color1, $back1)
  background-color: $color1

  header
    position: fixed
    z-index: 999
    padding: 1rem 0
    width: 100%
    top: 0
    background-color: $color1
    .font-style
      font-family: $second-font
      font-weight: $bold

    .col-left
      padding-left: 3rem
      .link-btn
        color: $back1
        .fas
          font-size: 25px

    .col-right
      margin: auto 0
      text-align: right
      padding-right: 3rem
      .btn-contact_a
        color: $back1
        border: 1.5px solid $back1
        border-radius: 5px
        padding: .5rem
        transition: $link-transition
      .btn-contact_a:hover
        background-color: $color1
        color: #FFFFFF
        transition: $link-transition
        +boxshadow-basic($shadow)
      .btn-contact_a:active
        +boxshadow-basic($shadow2)


  .body
    font-family: $second-font
    height: 100%

    #introduction
      min-height: 100vh
      position: relative
      color: #FFFFFF
      .container-intro
        position: absolute
        top: 25%
      .description-title
        margin-bottom: 2.5rem
        h2
          font-family: $first-font
          font-size: 3rem
          text-align: center
        h3
          font-size: 1.5rem
          text-align: center

      #container-img
        .circle-img
          display: grid
          justify-content: center
          img
            width: 250px
            border: 6px solid $back1
            border-radius: 50%
            background-color: $back1

      .description
        margin-top: 1.5rem
        blockquote
          font-style: italic
          background-color: $back1
          border-radius: 8px
          padding: 1rem 15rem
          p
            margin-top: 1rem
            margin-bottom: 0

      .container-scroll
        position: absolute
        bottom: 5%
        left: 50%
        transform: translate(-50%, -50%)
        a
          color: $white
          h6
            margin: auto 1rem

    #educations
      padding: 6rem
      background-color: #FFFFFF

      .container-timeline
        border-left: .2rem solid $color1
        h4
          margin: auto .5rem
        .fas
          margin: auto 1rem
          font-size: 25px
        .timeline
          margin-top: 1.5rem
          .timeline-right
            position: relative
            margin: 0 1.5rem 2rem 1.5rem
            border-left: .2rem solid $color1
            +boxshadow-basic($shadow2)
            border-radius: 10px
            padding: 1rem
            transition: .3s
          .timeline-right:hover
            transition: .3s
            +boxshadow-bottom($shadow)
          .timeline-right:before
            content: ""
            z-index: 1
            position: absolute
            left: -45px
            top: 1.6rem
            width: 45px
            height: 2px
            background-color: $color1
          .timeline-right:after
            content: ""
            z-index: 2
            position: absolute
            left: -49.3px
            top: 22px
            width: 12px
            height: 12px
            border: 1px solid $color1
            border-radius: 50%
            background-color: $back1
          .modal-class
            display: none
            margin: 1rem 0 1rem 1rem
        .btn-position
          margin: auto
          .btn-more
            border: 1.5px solid $color1
            border-radius: 5px
            padding: .5rem 1rem
            cursor: pointer
            transition: $link-transition
          .btn-more:hover
            background-color: $color1
            color: #FFFFFF
            transition: $link-transition
          .btn-less
            display: none
            border: 1.5px solid $color1
            border-radius: 5px
            padding: .5rem 1rem
            cursor: pointer
            transition: $link-transition
          .btn-less:hover
            background-color: $color1
            color: #FFFFFF
            transition: $link-transition

    #skills
      padding-top: 3rem
      padding-bottom: 6rem
      img
        width: 70px
      .softskills-head
        h3
          text-align: center
          color: $white
          margin-bottom: 4rem
      .softskills-left
        border-right: 2px solid $back1
        display: flex
        justify-content: space-around

      .softskills-right
        display: flex
        justify-content: space-around

    #portfolio
      background-color: $white
      padding: 5rem 0
      .box-project
        margin: auto 2rem
        .img-head
          img
            width: 300px
        .title
          text-align: center