/* Font style */
@import url("https://use.typekit.net/and7wxf.css");
.shadow-bottom {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); }

.shadow-basic {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

a {
  text-decoration: none;
  transition: 0.2s;
  color: #000000; }

a:hover {
  text-decoration: none;
  transition: 0.2s; }

header {
  padding-top: 1rem; }
  header .font-style {
    font-family: muli, sans-serif;
    font-weight: 700; }
  header .col-left {
    text-align: left; }
    header .col-left h1 {
      font-family: permanent-marker, sans-serif; }
      header .col-left h1 a {
        color: #0460D9;
        transition: 0.2s; }
      header .col-left h1 a:hover {
        transition: 0.2s;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); }
  header .col-right {
    text-align: right; }
    header .col-right .link > a {
      font-size: 10px; }
    header .col-right .btn-contact {
      border: 1.5px solid #0460D9;
      border-radius: 5px;
      padding: 0.5rem; }

.body {
  font-family: muli, sans-serif;
  height: 100%; }
  .body .head-title {
    background-color: #0460D9;
    color: #FFFFFF;
    padding: 5rem 1.5rem 13rem 1.5rem; }
    .body .head-title h2 {
      text-align: center; }
  .body .box-container {
    margin-top: -11rem;
    border-radius: 10px;
    background-color: #FFFFFF; }
    .body .box-container .section-logo {
      margin: 2rem auto;
      width: 250px; }
      .body .box-container .section-logo .logo {
        width: 100%; }
    .body .box-container .section-title {
      text-align: center; }
  .body #introduction {
    min-height: 100vh;
    position: relative; }
    .body #introduction .circle-img {
      display: grid;
      justify-content: center; }
      .body #introduction .circle-img img {
        width: 250px;
        border: 6px solid #0460D9;
        border-radius: 50%;
        background-color: #0460D9; }
    .body #introduction .description {
      margin-top: 1.5rem; }
      .body #introduction .description .description-title {
        margin-bottom: 2.5rem; }
        .body #introduction .description .description-title h2 {
          font-family: permanent-marker, sans-serif;
          font-size: 3rem;
          text-align: center; }
        .body #introduction .description .description-title h3 {
          font-size: 1.5rem;
          text-align: center; }
      .body #introduction .description blockquote {
        font-style: italic;
        background-color: #F2F2F2;
        border-radius: 8px;
        padding: 1rem 15rem; }
        .body #introduction .description blockquote p {
          margin-top: 1rem;
          margin-bottom: 0; }
  .body #educations {
    margin-bottom: 4.5rem; }
    .body #educations .row {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .body #educations .row img {
        width: 250px; }
      .body #educations .row h4 {
        font-weight: 700; }
  .body #experiences .row {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .body #experiences .head-compagny {
    display: grid;
    justify-content: center; }
  .body #experiences .section-list1, .body #experiences .section-list2 {
    margin-top: 1rem; }
    .body #experiences .section-list1 h6, .body #experiences .section-list2 h6 {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
